In [3]:
import pandas as pd
print(pd.__version__)

2.3.2

In [6]:
x=pd.DataFrame({'Rollno':[101,102,103],'Name':['rahul','pranit','seema']})

In [7]:
x

   Rollno    Name
0     101   rahul
1     102  pranit
2     103   seema

In [8]:
df.subscribe

<class 'NameError'>: name 'df' is not defined